@media (max-width: 1080px) {
    .container-historia {
        flex-direction: column;
        text-align: center;

        height: auto;
    }

    .container-historia img {
        width: 430px;
    }

    .painel-esquerdo {
        margin-bottom: 30px;
    }

    .lider-sul {
        padding: 0px;
    }

    .lider-centro {
        padding: 0px;
    }

}

@media (max-width: 981px) {
    .nav-list { display: none;}

    .nav-bar .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button {
        border: transparent;
        background: transparent;
        cursor: pointer;
    }
    
    .mobile-menu-icon .icon {
        width: 30px;
    }

    .container-lideres .lider p{
        width: 100%;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu li {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
    width: 100%;
    }

}